.container_form_forgot {
  margin: 0 auto;
  max-width: 600px;
}

.container_form_forgot form {
  margin-top: 7rem;
  width: 100%;
  margin-bottom: 10rem;
}

.container_form_forgot2 {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.box_container_login_text {
  color: rgba(0, 0, 0, 0.80);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 2rem;
}

.container_form_forgot input,
.container_form_forgot button {
  width: 100%;
  height: 58px;
  padding: 1rem 1rem;
  border-radius: 14px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.container_form_forgot button {
  background-color: #ff4f16;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.container_form_forgot input:focus {
  outline: none;
}

#iconBack {
  width: 30px;
  height: 40px;
}

@media (max-width: 768px) {
  .container_form_forgot {
    width: 95%;
  }
}
